/* Product Module */
.product {
  width: calc((100% / 3) - 40px);
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product button {
  background: #52B45C;
  font-family: monospace;
  color:white ;
  border: none;
  appearance: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}